.card_items {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px 15px;
}

.card_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px 0;
}

.card_detail {
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-betweem;
  line-height: 1.8rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 320px) {
  .card_detail {
    font-size: 1.1rem;
    text-align: justify;
  }
}
