.post_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image_post {
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content_post {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 15px;
  text-align: justify;
  line-height: 1.8rem;
  font-size: 1.3rem;
  justify-content: center;
  align-items: flex-start;
}

.content_post span:last-child {
  align-self: flex-end;
}

.content_post h2:first-child {
  margin: 10px 0;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tags {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
}

.tags_detail {
  pointer-events: none;
  background-color: #dcdcdc;
  border: none;
  color: black;
  font-size: 1.1rem;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 10px;
  border-radius: 100px;
}

.content_button {
  align-self: flex-start;
  margin-left: 3rem;
}

@media screen and (max-width: 320px) {
  .content_post {
    font-size: 1.2rem;
    width: 100%;
    padding: 0 15px;
  }

  .tags {
    font-size: 1.1rem;
  }

  .tags_detail {
    font-size: 0.8rem;
  }
}
